.button {
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  width: 110px;
  font-weight: 600;
  padding: 15px 20px;

  &.primary {
    border: 1px solid var(--c-white);
    background: var(--c-white);
    color: var(--c-lvred);
  }

  &.secundary {
    border: 1px solid var(--c-white);
    background: var(--c-lvred);
    color: var(--c-white);
  }
}
