.description {
  text-align: center;
  line-height: 2;
  color: var(--c-body);
  padding: 10px;

  &.white {
    color: var(--c-white);
  }

  @media (min-width: $xlarge) {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
