.title {
  font-size: 1.8rem;
  text-align: center;

  &__principal {
    text-align: center;
    font-size: 2rem;
  }

  &.white {
  color: var(--c-white);
  }

  &__form {
    font-size: 2.5rem;
    color: var(--c-lvred);
    text-align: center;
    text-shadow: -1px 1px 1px var(--c-ddblue);
  }

  @media (min-width: $xlarge) {
    margin: 10px 0;
    text-align: left;
  }
}
