:root {
  --c-white: #ffffff;
  --c-ftext:  #c8c8cb;
  --c-body: #4b5862;
  --c-fbackground: #25252d;
  --c-vlred: #ff8f70;
  --c-lred: #ff3d54;
  --c-lvred: #ff6563;
  --c-vdblue: #2c2d3f;
  --c-vblue: #3f4164;
  --f-primary: 'Overpass';
  --f-secundary: 'Ubuntu';
}
