:root {
  --c-white: #ffffff;
  --c-ftext: #c8c8cb;
  --c-body: #4b5862;
  --c-fbackground: #25252d;
  --c-vlred: #ff8f70;
  --c-lred: #ff3d54;
  --c-lvred: #ff6563;
  --c-vdblue: #2c2d3f;
  --c-llblue: #a5a5af;
  --c-vblue: #3f4164;
  --c-ddblue: #383955;
  --c-grayish: #38cc8c;
  --c-bluebtn: #685fa0;
  --f-primary: "Overpass";
  --f-secundary: "Ubuntu";
}
