.container {
  background: var(--c-ddblue);
  background-image: url(../assets/bg-pattern-circles.svg);
  background-position: center -260px;
  background-repeat: no-repeat;
  background-size: 585px;
  border-radius: 0 110px 0 110px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    width: 100%;
    max-width: 80%;
    transform: translateY(-150px);

    @media (min-width: $medium) {
      max-width: 60%;
    }

    @media (min-width: $large) {
      max-width: 50%;
      transform: translateY(10px);
    }

    @media (min-width: $extra) {
      max-width: 40%;
    }

    @media (min-width: $xextra) {
      max-width: 30%;
    }
  }

  &__description {
    transform: translateY(-150px);

    @media (min-width: $large) {
      transform: translateY(0);
    }
  }

  @media (min-width: $large) {
    max-height: 320px;
    flex-direction: row;
    background-position: -100px -250px;
  }
}
