.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  color: var(--c-vdblue);
  margin-bottom: 160px;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $xlarge) {
      width: 100%;
      padding: 0 80px;
      align-items: flex-start;
    }
  }

  &__img {
    width: 100%;
  }

  &.second {
    margin-bottom: 50px;

    @media (min-width: $xlarge) {
      margin-top: 80px;
      flex-direction: row;
    }
  }

  @media (min-width: $large) {
    margin-bottom: 90px;
  }

  @media (min-width: $xlarge) {
    margin-top: 0;
    flex-direction: row-reverse;
  }
}
