.footer {
  background: var(--c-fbackground);
  color: var(--c-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 130px;
  padding: 50px 25px 25px;

  &__content {
    margin-top: 30px;
  }

  &__social {
    margin-top: 50px;
  }

  &__title {
    text-align: center;
  }

  &__item {
    padding: 5px;
  }

  &__list {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  &__link {
    color: var(--c-white);
    text-decoration: none;
  }
}
