.header {
  color: var(--c-white);
  height: 500px;
  background: var(--c-lvred);
  background-image: url(../assets/bg-pattern-intro.svg);
  background-image: url(../assets/bg-pattern-intro.svg),
    linear-gradient(#ff6563, #ff3d54);
  padding: 50px 25px 25px;
  background-size: 290%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  border-radius: 0 0 0 110px;

  &__content {
    font-family: var(--f-primary), sans-serif;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__subtitle {
    font-weight: 200;
    margin: 0;
    font-size: 1.3rem;
  }

  &__buttons {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: space-around;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    position: absolute;
    right: 25px;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }

  &.formulario {
    height: 80px;
    border-radius: 0 0 0 70px;
    margin-bottom: 40px;
  }
}
