.modal {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  position: fixed;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 385px;
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  background-color: white;
  z-index: 9999;

  &__close {
    font-size: 2rem;
  }
}

#modal {
  &:target {
    z-index: 9998;
    background: rgba(0,0,0,.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;

    & .modal {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.fas {
  padding: 10px 10px 10px 20px;
  color: var(--c-lvred);

  &.fa-house-user {
    color: var(--c-white);
    font-size: 1.5rem;
  }
}
